.list-group-item{
    width: 13vw;
    text-align: center;
}

#body{
    background-color: rgb(94, 183, 114);
}

#infoform{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}
